<div class="content content--top-nav">
  <div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">Reset Password</h2>
  </div>
  <div class="grid grid-cols-12 gap-6">
    <div
      class="col-span-12 lg:col-span-4 2xl:col-span-3 flex lg:block flex-col-reverse"
    >
      <img
        src="../../../assets/dist/images/forgot-password.png"
        alt="illustration"
      />
    </div>
    <div class="col-span-12 lg:col-span-8 2xl:col-span-9">
      <div class="intro-y box lg:mt-5">
        <div
          class="flex items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400"
        >
          <h2 class="font-medium text-base mr-auto">Reset Password</h2>
        </div>
        <div class="p-5">
          <form [formGroup]="passwordResetRequest" (ngSubmit)="checkEmail()">
            <label for="userEmail" class="form-label">Enter your email</label>
            <input
              id="userEmail"
              type="email"
              class="form-control"
              placeholder="Email"
              formControlName="email"
            />
            <button
              type="submit"
              class="btn btn-primary mt-4"
              [disabled]="loading || passwordResetRequest.invalid"
            >
              <span *ngIf="!loading">Submit</span>
              <span *ngIf="loading"
                ><i class="fa fa-spinner fa-spin"></i> Searching...</span
              >
            </button>
          </form>
          <div *ngIf="emailError" class="text-danger">
            No user found with that email.
            <button routerLink="/register">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
