@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-red-50 {
  background-color: #fef2f2;
}
.bg-red-100 {
  background-color: #fee2e2;
}
.bg-red-200 {
  background-color: #fecaca;
}
.bg-red-300 {
  background-color: #fca5a5;
}
.bg-red-400 {
  background-color: #f87171;
}
.bg-red-500 {
  background-color: #ef4444;
}
.bg-red-600 {
  background-color: #dc2626;
}
.bg-red-700 {
  background-color: #b91c1c;
}
.bg-red-800 {
  background-color: #991b1b;
}
.bg-red-900 {
  background-color: #7f1d1d;
}
.bg-red-900-20 {
  background-color: #7f1d1d82;
}

.toast-error {
  color: #c53030;
  background-color: #feb2b2;
}

.toast-warning {
  color: #d69e2e;
  background-color: #f6e05e;
}

.toast-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.toast-content {
  margin-left: 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
}

.toast-close {
  margin-left: auto;
  padding: 0.375rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toast-close-icon {
  width: 0.75rem;
  height: 0.75rem;
}
