<div class="success-box">
  <div class="success-header">
    <h2>Password Reset Successful!</h2>
    <svg xmlns="http://www.w3.org/2000/svg" class="success-icon" viewBox="0 0 24 24">
      <path d="M5 13l4 4L19 7" />
    </svg>
  </div>
  <div class="success-content">
    <div id="lottie-container" class="animation-container"></div>
    <p class="success-text">Success!</p>

    <p class="text-center">An email has been sent to your inbox with instructions to reset your password. Please check your email and follow the instructions provided.</p>

  </div>
</div>