.success-box {
    margin-top:100px;
     border-radius: 10px;
     margin-left: 50px;
     margin-right: 50px;
     /* background-color: #ccd3cd67; */
     border: 1px solid #93c9a8;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }
 
   .success-header {
     display: flex;
     align-items: center;
     padding: 20px;
     background-color: #68d391;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
   }
 
   .success-header h2 {
     font-size: 1.25rem;
     font-weight: 600;
     /* color: #fff; */
     margin-right: auto;
   }
 
   .success-content {
     position: relative;
     padding-top: 200px;
     padding-bottom: 200px;
     padding-right: 20px;
     padding-left: 20px;
   }
 
   .success-icon {
     fill: none;
     stroke: #fff;
     stroke-width: 2;
     stroke-linecap: round;
     stroke-linejoin: round;
     width: 24px;
     height: 24px;
     margin-left: 10px;
   }
 
   .success-text {
     font-size: 1rem;
     text-align: center;
     margin-bottom: 20px;
     color: #68d391;
   }
 
   .success-link {
     color: #68d391;
     text-decoration: none;
     font-weight: 600;
   }
   .animation-container {
     position: absolute;
     top: 20%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 50%;
     height: 50%;
   }
   
   
 
 