<div class="content">
  <h2 class="intro-y text-lg font-medium mt-10">Liste des Clients</h2>
  <div class="grid grid-cols-12 gap-6 mt-5">
    <div
      class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2"
    >
      <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
        <div class="w-56 relative text-slate-500">
        
        </div>
      </div>
    </div>
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
      <ng-container
        *ngIf="clients && clients.length > 0; else NoCLientsTemplate"
      >
        <table class="table table-report -mt-2">
          <thead>
            <tr>
              <th class="whitespace-nowrap">Image</th>
              <th class="whitespace-nowrap">Nom</th>
              <th class="text-center whitespace-nowrap">Numéro de Téléphone</th>
              <th class="text-center whitespace-nowrap">ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr class="intro-x" *ngFor="let client of clients">
              <td class="w-40">
                <div class="flex">
                  <div class="w-10 h-10 image-fit zoom-in -ml-5">
                    <img
                      alt="client image"
                      class="tooltip rounded-full"
                      [src]="'data:image/png;base64,' + client.image"
                      title="Client image"
                    />
                  </div>
                </div>
              </td>
              <td>
                <a href="" class="font-medium whitespace-nowrap"
                  >{{ client.firstName }} {{ client.lastName }}</a
                >
                <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">
                  {{ client.email }}
                </div>
              </td>
              <td class="text-center">{{ client.phoneNumber }}</td>
              <td class="table-report__action w-56">
                <div class="flex justify-center items-center">
                  <button
                    class="flex items-center text-danger"
                    (click)="openArchiveModal(client.id)"
                  >
                    <i class="fas fa-trash w-4 h-4 mr-1"></i> Archiver
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #NoCLientsTemplate>
        <div class="text-center mt-5">
          <p>Pas de Clients disponibles.</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="isToArchive" class="modal-overlay show">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Archiver Client</h5>
          <button type="button" class="close" (click)="openArchiveModal()">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>Êtes-vous sûr(e) de vouloir archiver ce client ?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="openArchiveModal()"
          >
            Annuler
          </button>
          <button
            type="button"
            class="btn btn-danger text-danger"
            (click)="archiveClient()"
          >
            Oui
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="spinner-overlay">
    <div class="spinner-container">
        <div class="spinner"></div>
        <p>Veuillez patienter pendant que nous envoyons la notification par e-mail au client.</p>
    </div>
  </div>
</div>
