<div
  class="flex creation-content"
  [ngClass]="isDarkModeEnabled() ? 'content-dark' : 'content-light'"
>
  <div class="blog-content">
    <h1 class="title">Company Creation</h1>
    <img
      src="assets/dist/images/company.png"
      alt="creation Image"
      class="image"
    />
    <div class="text">
      <h1 class="title">
        Les formalités légales pour la constitution juridique d’une société
      </h1>
      <div class="timeline">
        <ul>
          <li>
            <div class="step">
              <h2>ÉTAPE 1</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/rne.png"
                  alt="Step 1 Image"
                  class="step-image"
                />
                <p>
                  Réservation de la dénomination de la société en ligne auprès
                  du Registre National des Entreprises. <br />Demande de
                  certificat de réservation:
                  <a
                    href="https://www.registre-entreprises.tn/rne-public/#/"
                    target="_blank"
                    class="link"
                    >www.registre-entreprises.tn</a
                  >
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="step">
              <h2>ÉTAPE 2</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/etape2.avif"
                  alt="Step 2 Image"
                  class="step-image"
                />
                <p>
                  Préparation du contrat de loyer ou de domiciliations ou une
                  copie du Titre Foncier s’il s’agit de propriété.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="step">
              <h2>ÉTAPE 3</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/etape3.jpg"
                  alt="Step 3 Image"
                  class="step-image"
                />
                <p>
                  Signature du cahier de charge ou la préparation des
                  autorisations nécessaires si l’activité est éligible aux
                  autorisations préalables (pdf de liste d’autorisations et
                  d’activités).
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="step">
              <h2>ÉTAPE 4</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/etape4.png"
                  alt="Step 4 Image"
                  class="step-image"
                />
                <p>
                  Dépôt et Obtention de la déclaration en ligne d’investissement
                  (agrément) auprès de l’APII (Agence de Promotion de
                  l’Investissement et de l’Innovation) ou APIA OU
                  <a
                    href="http://www.cepex.nat.tn/content/accueil"
                    target="_blank"
                    class="link"
                    >CEPEX en ligne</a
                  >. <br />Service en ligne et par dépôt direct.
                  <br />Attestation de dépôt de déclaration par dépôt direct ou
                  en ligne. <br />Demande de dépôt de déclaration :
                  <a
                    href="https://www.tunisieindustrie.nat.tn/fr/home.asp"
                    target="_blank"
                    class="link"
                    >www.tunisieindustrie.nat.tn</a
                  >. <br />Non applicable pour les sociétés de commerce,
                  optionnel pour les sociétés de services et industries.<br />
                  <span class="text-danger"
                    >*Attestation ADD ouvre droit aux incitations au vu des
                    dispositions prévues par la loi n° 2016-71 DU
                    30/09/2016</span
                  >
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="step">
              <h2>ÉTAPE 5</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/etape5.png"
                  alt="Step 5 Image"
                  class="step-image"
                />
                <p>
                  Rédaction de la version finale des statuts et des documents
                  juridiques nécessaires.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="step">
              <h2>ÉTAPE 6</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/APII.jpg"
                  alt="Step 6 Image"
                  class="step-image"
                />
                <p>
                  Dépôts en ligne
                  <a
                    href="https://www.tunisieindustrie.nat.tn/fr/home.asp"
                    target="_blank"
                    class="link"
                    >(APII) </a
                  >Rebriques constitutions des statuts, Réservation RNE – CIN
                  gérants -contrat de loyer ou domiciliations, procurations,
                  cahier de charges et autorisations (Services d’examen de
                  recevabilité et prise de rendez-vous en ligne)
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="step">
              <h2>ÉTAPE 7</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/guichet.avif"
                  alt="Step 7 Image"
                  class="step-image"
                />
                <p>
                  Enregistrement des statuts et autres documents à la recette
                  des finances ou auprès du guichet unique de l’APII.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="step">
              <h2>ÉTAPE 8</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/etape8.png"
                  alt="Step 8 Image"
                  class="step-image"
                />
                <p>
                  Obtention du Matricule fiscal (Déclaration d’existence et
                  carte d’identification fiscale) auprès du bureau de contrôle
                  des impôts.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="step">
              <h2>ÉTAPE 9</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/etape9.png"
                  alt="Step 9 Image"
                  class="step-image"
                />
                <p>
                  Inscription au Registre National des Entreprises et obtention
                  d’un identifiant unique (Préparation du document du
                  bénéficiaire effectif en ligne RNE)
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="step">
              <h2>ÉTAPE 10</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/etape10.png"
                  alt="Step 10 Image"
                  class="step-image"
                />
                <p>
                  Obtention de la Carte Douanière SINDA (éventuellement) douane
                  (API)
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="step">
              <h2>ÉTAPE 11</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/etape11.jpg"
                  alt="Step 11 Image"
                  class="step-image"
                />
                <p>
                  Ouverture éventuelle d’un compte bancaire indisponible pour le
                  dépôt du Montant du capital,
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="step">
              <h2>ÉTAPE 12</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/etape12.jpg"
                  alt="Step 12 Image"
                  class="step-image"
                />
                <p>
                  Obtention éventuellement des fiches d’investissement auprès de
                  la Banque Centrale de Tunisie
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="step">
              <h2>ÉTAPE 13</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/etape13.png"
                  alt="Step 13 Image"
                  class="step-image"
                />
                <p>
                  Affiliation à la CNSS (Caisse Nationale de Sécurité Sociale).
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="step">
              <h2>ÉTAPE 14</h2>
              <div class="step-content">
                <img
                  src="assets/dist/images/etape14.jpg"
                  alt="Step 14 Image"
                  class="step-image"
                />
                <p>
                  Déclaration de la société auprès de l’inspection du travail.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="documents"
    [ngClass]="isDarkModeEnabled() ? 'documents-dark' : 'documents-light'"
  >
    <h2 class="document-title">Download Documents</h2>
    <ng-container *ngFor="let item of files">
      <ul>
        <li>
          <a class="document-link cursor-pointer" 
            ><i class="{{ getFileIcon(item.type) }}"></i>
            <span class="document-name mr-5"  (click)="openFile(item)">{{ item.name }}</span>
            <button (click)="downloadFile(item)">
              <i class="fa fa-download" [ngClass]="isDarkModeEnabled() ? 'download-dark' : 'download-light'"></i> 
            </button>
            </a
          >
        </li>
      </ul>
    </ng-container>
  </div>
</div>
