.carousel-container {
    position: relative;
    overflow: hidden;
    max-height: 400px;
    width: 700px;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 auto;
    width: 100%;
  }
  .slide img {
    width: 100%; 
    height: auto;
  }
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  