<div class="login">
  <div class="container sm:px-10">
    <div class="block xl:grid grid-cols-2 gap-4">
      <div class="hidden xl:flex flex-col min-h-screen">
        <div class="my-auto">
          <div
            class="-intro-x text-white font-medium text-4xl leading-tight mt-10"
          >
            Bonjour Admin!
          </div>
        </div>
      </div>

      <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
        <div
          class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto"
        >
          <h2
            class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left"
          >
            Se connecter
          </h2>
          <div class="intro-x mt-2 text-slate-400 xl:hidden text-center">
            Admin
          </div>
          <div class="intro-x mt-8">
            <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
              <input
                type="email"
                class="intro-x login__input form-control py-3 px-4 block mt-4"
                placeholder="Email"
                formControlName="email"
                name="email"
              />
              <div
                *ngIf="
                  signinForm.get('email')!.hasError('required') &&
                  signinForm.get('email')!.touched
                "
                class="text-danger"
              >
                Email is required.
              </div>
              <div
                *ngIf="
                  signinForm.get('email')!.hasError('email') &&
                  signinForm.get('email')!.touched
                "
                class="text-danger"
              >
                Invalid email format.
              </div>
              <input
                type="password"
                class="intro-x login__input form-control py-3 px-4 block mt-4"
                placeholder="Mot de passe"
                formControlName="pwd"
                name="pwd"
              />
              <div
                *ngIf="
                  signinForm.get('pwd')?.touched || signinForm.get('pwd')?.dirty
                "
                class="error-container"
              >
                <div
                  *ngIf="signinForm.get('pwd')?.errors?.['required']"
                  class="error-message required-error"
                >
                  <i class="fas fa-exclamation-circle"></i> Password is
                  required.
                </div>
              </div>
              <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                <button
                  type="submit"
                  class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top"
                  [disabled]="signinForm.invalid"
                >
                  Se connecter
                </button>
              </div>
            </form>
          </div>
          <div
            class="intro-x flex text-slate-600 dark:text-slate-500 text-xs sm:text-sm mt-4"
          >
            <a routerLink="/reset-password-request">Mot de passe oublié?</a>
          </div>
        </div>
      </div>
      <!-- END: Login Form -->
    </div>
  </div>
</div>
