@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
 
.fadeInOut {
  animation: fadeInOut 5s ease-in-out;
}

#dropzone {
  margin-left: 50px;
  margin-right: 50px;
}
.dropzone-dark {
  background-color: #222430;
  border-color: #fe7903;
}
.bigzone-dark {
  background-color: #222430;
}
.bigzone-light {
  background-color: #fefefe;
  border-color: #fe7903;
}

.dropzone-dark:hover {
  background-color: #d6d4d48f;
  border-color: white;
}

.dropzone-light {
  background-color: white;
}

.dropzone-light:hover {
  background-color: #f3f1efc7;
}

.btn-rmv:hover {
  border: dashed 1px #ef4444;
  color: #ef4444;
}

.file-blur {
    filter: blur(5px); 
  }

  /* .my-auto {
      overflow-y: auto; 
      max-height: calc(100vh - 200px); 
    } */
    
    
   
    
    /* .my-auto::-webkit-scrollbar {
      width: 12px; 

    } */
    
    
    /* .my-auto::-webkit-scrollbar-thumb {
      border: 1px solid rgba(255, 255, 255, 0.289);
      background-color: #222430; 
      border-radius: 6px; 
    } */
    
  
    /* .my-auto::-webkit-scrollbar-thumb:hover {
      background-color: #0f1015;
    } */
    
    /* .my-auto::-webkit-scrollbar-thumb:active {
      background-color: #6a6a6a;
    } */
    .role-button.accountant {
      background: #222430; 
      color: #fff;
    }
    
    .role-button.client {
      background: #222430;
      color:#fff;
    }
    .role-button.selected {
      background: #545663;
color: #e2ba98;
    }
   
    
.role-buttons {
display: flex;
/* gap: 10px;
margin-bottom: 20px; */
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.role-button {
background: #e2d8d8;
color: #423a3c;
padding: 20px;
border: none;
border-radius: 5px;
cursor: pointer;
box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0, 0, 0, 0.35);
  flex: 1; 
  margin: 1%;
  display: flex;
  align-items: center; 
}

.role-button:hover {
background: #363845;
color: #fe7903;
box-shadow: -5px -5px 15px rgba(234, 192, 124, 0.708),
5px 5px 15px rgba(0, 0, 0, 0.35);
}


.role-button i {
margin-right: 8px;
}
.btn {
display: block; 
margin-bottom: 1rem; 
}

.btn-google {
background-color: transparent; 
border: none;
border-radius: 0.25rem;
font-size: 1rem;
line-height: 1.5;
cursor: pointer;
transition: background-color 0.3s ease;
}

.btn-google:hover {
background-color: #c1351a;
color: white; 
}


.btn-google img {
height: 1.5rem; 
width: auto;
margin-right: 0.5rem; 
}
.line {
display: inline-block;
width: 40%; 
height: 1px;
background-color: #ccc; 
vertical-align: middle;
}
.role-button-container {
display: flex;
flex-direction: column;
align-items: center;
}

.role-button-container button {
margin-bottom: 5px;
}

.ng-container-step {
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.43); 
border-radius: 5px;
padding: 20px; 
background-color: rgba(171, 171, 171, 0.066); 
}
.button-container {
display: flex;
justify-content: space-between;
margin-top: 10px;
}

.password-input-container {
position: relative;
}

.password-toggle-icon {
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 10px; 
cursor: pointer;
z-index: 100;
color: #999; /* Default color */
transition: color 0.3s ease; /* Smooth transition */
}
.password-toggle-icon:hover {
color: #555; /* Color on hover */
}

.password-toggle-icon i {
font-size: 1.2rem; /* Adjust icon size */
}

.password-toggle-icon i:hover {
transform: scale(1.2); /* Increase size on hover */
}
.error-container {
margin-top: 5px;
}

.error-message {
margin-top: 5px;
font-size: 14px;
color: #555;
}

.error-message i {
margin-right: 5px;
color: #991b1b;
}

.required-error, .length-error {
color: #991b1b;
text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
/* .animation-container {
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
width: 50%;
height: 50%;
} */