<div class="content">
  <div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">Accountant Profile</h2>
  </div>

  <div class="intro-y box px-5 pt-5 mt-5">
    <div
      class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5"
    >
      <div
        class="flex flex-1 px-5 items-center justify-center lg:justify-start"
      >
        <div
          class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative"
        >
          <img
            alt="User image"
            class="rounded-full"
            [src]="'data:image/png;base64,'+accountant.image"
          />
        </div>
        <div class="ml-5">
          <div
            class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg"
          >
            {{accountant.firstName }} {{accountant.lastName}}
          </div>
          <div class="text-slate-500">{{accountant.userRole.toUpperCase()}}</div>
        </div>
      </div> 
      <div
        class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0"
      >
        <div class="font-medium text-center lg:text-left lg:mt-3">
          Contact Details
        </div>
        <div
          class="flex flex-col justify-center items-center lg:items-start mt-4"
        >
          <div class="truncate sm:whitespace-normal flex items-center">
            <i class="fas fa-envelope w-4 h-4 mr-2"></i> {{accountant.email}}
          </div>
          <div class="truncate sm:whitespace-normal flex items-center mt-3">
            <i class="fas fa-phone w-4 h-4 mr-2"></i> {{accountant.phoneNumber}}
          </div>
          
        </div>
      </div>
    </div>
    <ul
      class="nav nav-link-tabs flex-col sm:flex-row justify-center lg:justify-start text-center"
      role="tablist"
    >
      
      <button
        routerLink="/accountant/update-profile"
        id="change-password-tab"
        class="mb-5 px-3 py-2 text-primary btn btn-outline-primary dark:bg-darkmode-400 dark:text-slate-300 rounded font-medium mr-3"
        role="presentation"
      >
        Update Profile
      </button>
      <button
        routerLink="/accountant/change-password"
        id="change-password-tab"
        class="mb-5 btn btn-outline-success"
        role="presentation"
      >
        Change Password
      </button>
    </ul>
  </div>

</div>
