<div class="content">
  <h2 class="font-bold text-xl">
    Clients avec des Échéances de Paiement dans les Deux Prochaines Semaines
  </h2>
  <div class="legend">
    <div class="legend-item">
      <div class="legend-color red"></div>
      <div class="legend-text">Moins de 5 jours restants</div>
    </div>
    <div class="legend-item">
      <div class="legend-color orange"></div>
      <div class="legend-text">Période de paiement normale</div>
    </div>
  </div>
  <div #gantt_here class="gantt-chart"></div>
</div>
