@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeInOut {
  animation: fadeInOut 5s ease-in-out;
}

#dropzone {
  margin-left: 50px;
  margin-right: 50px;
}
.dropzone-dark {
  background-color: #222430;
  border-color: #fe7903;
}
.bigzone-dark {
  background-color: #222430;
}
.bigzone-light {
  background-color: #fefefe;
  border-color: #fe7903;
}

.dropzone-dark:hover {
  background-color: #d6d4d48f;
  border-color: white;
}

.dropzone-light {
  background-color: white;
}

.dropzone-light:hover {
  background-color: #f3f1efc7;
}

.btn-rmv:hover {
  border: dashed 1px #ef4444;
  color: #ef4444;
}

.file-blur {
    filter: blur(5px); 
  }
  .error-container {
    margin-top: 5px;
  }
  
  .error-message {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .error-message i {
    margin-right: 5px;
    color: #991b1b;
  }
  
  .required-error, .length-error {
    color: #991b1b;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  }